#### TableDict example notebook

This is a very simple notebook to demonstrate how to use the lsst.eo_utils.base.TableDict class to:
* build astropy Table objects from numerical data
* write those Table objects to a FITS file
* read back the FITS file and access the stored Table objects

Import stuff

In [18]:
import numpy as np
from lsst.eo_utils.base import TableDict

Build an empty TableDict object

In [19]:
td = TableDict()

Generate some simple data for this example

In [20]:
v1 = np.linspace(0, 100., 21)
v2 = v1*v1

Put the data into a python dictionary

In [23]:
data = dict(vect=v1, vect_sq=v2)

Build an `astropy.table.Table` object from the python dictionary and store in under the key `dummy`

In [24]:
td.make_datatable("dummy", data)

<Table length=21>
  vect  vect_sq
float64 float64
------- -------
    0.0     0.0
    5.0    25.0
   10.0   100.0
   15.0   225.0
   20.0   400.0
   25.0   625.0
   30.0   900.0
   35.0  1225.0
   40.0  1600.0
   45.0  2025.0
   50.0  2500.0
   55.0  3025.0
   60.0  3600.0
   65.0  4225.0
   70.0  4900.0
   75.0  5625.0
   80.0  6400.0
   85.0  7225.0
   90.0  8100.0
   95.0  9025.0
  100.0 10000.0

Get the table using the key it was stored under

In [25]:
table = td['dummy']

Get a couple of columns out of the table

In [26]:
table['vect']

<Column name='vect' dtype='float64' length=21>
  0.0
  5.0
 10.0
 15.0
 20.0
 25.0
 30.0
 35.0
 40.0
 45.0
 50.0
 55.0
 60.0
 65.0
 70.0
 75.0
 80.0
 85.0
 90.0
 95.0
100.0

In [27]:
table['vect_sq']

<Column name='vect_sq' dtype='float64' length=21>
    0.0
   25.0
  100.0
  225.0
  400.0
  625.0
  900.0
 1225.0
 1600.0
 2025.0
 2500.0
 3025.0
 3600.0
 4225.0
 4900.0
 5625.0
 6400.0
 7225.0
 8100.0
 9025.0
10000.0

Build a mask and use it

In [28]:
mask = table['vect'] < 10.
table[mask]['vect_sq']

<Column name='vect_sq' dtype='float64' length=2>
 0.0
25.0

Save all the tables (in this case just the one) in this TableDict

In [29]:
td.save_datatables("table_dict_example.fits")

Read back the TableDict we just saved

In [30]:
td2 = TableDict('table_dict_example.fits')

Get the table back using the key

In [31]:
tab2 = td2['dummy']

In [32]:
tab2

<Table length=21>
  vect  vect_sq
float64 float64
------- -------
    0.0     0.0
    5.0    25.0
   10.0   100.0
   15.0   225.0
   20.0   400.0
   25.0   625.0
   30.0   900.0
   35.0  1225.0
   40.0  1600.0
   45.0  2025.0
   50.0  2500.0
   55.0  3025.0
   60.0  3600.0
   65.0  4225.0
   70.0  4900.0
   75.0  5625.0
   80.0  6400.0
   85.0  7225.0
   90.0  8100.0
   95.0  9025.0
  100.0 10000.0